# Ignore version control files
.git
.gitignore
.github/
.vscode/

# Ignore Dir
migrations/
docs/
target/

README.md
LICENSE
compose.yaml
.env
.env.example
clippy.toml
rustfmt.toml
compose.yaml
Dockerfile
Makefile
tarpaulin-report.html
TODO.md